# Python cache
__pycache__
*.pyc

# home assistant
custom_components/
appdaemon/
blueprints/
!blueprints/automation/hmn/
!blueprints/script/hmn/
deps
tts/
www/
.storage/
.HA_VERSION
themes/

# misc
*.uuid
*.conf
*.db
*.db-journal
*.db-wal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup
home-assistant.*
known_devices.yaml
secrets.yaml
secrets_bak.yaml
zones.yaml
ip_bans.yaml
customize.yaml
automations.yaml
scripts.yaml
scenes.yaml